<div class="row">
  <div class="col-6">
    <h2> Cadastro de produtos </h2>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <a href="/addprodutos" type="button" class="btn btn-primary align-self-center"> + Adicionar produtos</a>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome do Produto</th>
      <th scope="col">Preço</th>
      <th scope="col" class="text-end">Ação</th>
    </tr>
  </thead>

  <tbody>
    {{#each rows}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.produtos_loja}}</td>
      <td>{{this.valor}}</td>
      <td class="text-end">
        <a href="/editprodutos/{{this.id}}" type="button" class="btn btn-light btn-small"><i
            class="bi bi-pencil"></i>Editar</a>
        <a href="/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> Delete</a>
      </td>
    </tr>

    {{/each}}

  </tbody>
</table>

<tbody>
  <td>
    <div class="row">
      <div class="col-6">
        <h2> Conheça a loja </h2>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <a href="/lojaprodutos/" type="button" class="btn btn-primary align-self-center"> Loja </a>
      </div>
    </div>
  </td>
</tbody>